/* GENERAL STYLINGS */

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

/* TYPOGRAPHY */

h1 {
  color: #0B0E07;
  font-weight: 900;
  margin: 0;
}

h2 {
  color: #0B0E07;
  font-size: 24px;
  margin: 0;
}

h3 {
  color: black;
  font-weight: 900;
  letter-spacing: 0.5px;
}

/* HEADER */

header {
  background-color: #E0DCDB;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin: 0 auto;
}

header img {
  width: 100px;
  height: auto;
  margin-left: 15px;
}

.title {
  text-align: center;
}

/* MAIN */

main {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/*** input field ***/

.emotion-radios {
  width: 200px;
  border: 1px solid #c5c1c0;
  border-radius: 4px;
  margin-bottom: 15px;
}

.radio {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c5c1c0;
  padding: 6px 0;
}

.radio label {
  position: relative;
  left: 10px;
}

.radio input {
  position: relative;
  right: 5px;
}

.radio:last-of-type {
  border-bottom: none;
}

.highlight {
  background-color: #EFEDEE;
  font-weight: 600;
  accent-color: #c77f1e;
  color: #c77f1e;
}

.gif-check-label {
  font-weight: 400;
}

#gifs-only-option {
  accent-color: #c77f1e;
}

/*****/

.img-generate-btn {
  background-color: #E0DCDB;
  color: #0B0E07;
  border: none;
  border-radius: 4px;
  padding: 10px 40px;
  font-size: 20px;
  font-weight: bold;
  margin: 15px;
  cursor: pointer;
}

.img-generate-btn:hover, .img-generate-btn:active {
  background-color: #0B0E07;
  color: #E0DCDB;
}

.meme-modal {
  display: none;
 /*  display: flex; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 500px;
  height: 400px;
  background-color: #E0DCDB;
  border: 1px solid #0B0E07;
  border-radius: 3px;
}

.close-modal-btn {
  position: absolute;
  right: 0;
  padding: 4px;
  background-color: transparent;
  border: none;
}

